.main {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 10px;
}

.posts {
  flex-basis: 70%;
}

form {
  flex-basis: 30px;
}

.header {
  box-shadow: 0px 0px 10px 0px gray;
  /* background-color: blue; */
}

.app-identity {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 768px) {
  .posts {
    flex-basis: 100%;
  }

  form {
    flex-basis: 100px;
  }
}